//---------------- Mixins ----------------
@import "mixins";
//-------------- Functions ---------------
@function px-to-rem($size) {
	$remValue: ($size / 16) + rem;
	@return $remValue;
}
/*---------------- Fonts ---------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;500&display=swap");
@import "fonts";
@import "iconfont";
//------------ Default font --------------
$fontFamily: "Mulish";
$fz: 16;
//--------------- Variables --------------
$unit: px;

$minWidth: 320 + $unit;
$maxWidth: 1920;
$maxWidthContainer: 1180;

$xs: 319.98px;
$sm: 479.98px;
$md: 766.98px;
$tab: 991.98px;
$other: $maxWidthContainer + 12;

$mainColor: #333;
$backgroundColor: #fff;
$orangeColor: #ff8823;
//----------- Reset styles ---------------
@import "reset.scss";
/*-------------- Body ------------------*/
body {
	font-family: $fontFamily;
	font-size: $fz + $unit;
	font-weight: 500;
	background-color: #fff;
	color: #333;
	&._lock {
		overflow: hidden;
	}
}
/*---------------- Wrapper ----------------*/
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*--------------- Container ----------------*/
[class*="__container"] {
	max-width: $maxWidthContainer + $unit;
	padding: 0 15px;
	margin: 0 auto;
}
//------------------ Forms -------------------
// @import "forms";
//------------------- UI ---------------------
@import "ui";
//----------------- Popup --------------------
@import "popup";
//----------------- Header -------------------
@import "header";
//----------------- Footer -------------------
@import "footer.scss";
//============================================================================================

//============================================================================================

//============================================================================================
//============================================================================================
